<div class="home-container">
    <uniq-card [data]="patient"></uniq-card>
    
    <div class="loading-error-container">
      <h5 class="error-message">Problème de chargement</h5>
      <div class="error-description">Lorem ipsum dolor sit amet</div>
      <img src="/assets/amico.svg" alt="Erreur de chargement">
      <div class="error-suggestions">
        <p>Que pouvez-vous faire ?</p>
        <ol>
          <li>Assurez-vous que vous êtes bien connecté-e à internet</li>
          <li>Vider le cache de votre navigateur et recharger la page</li>
          <li>Si le problème persiste, contactez le support</li>
        </ol>
      </div>
    </div>
  </div>
  